#nameHeadline {
	margin: 25px auto;
}

.wrapper {
	width: 800px;
	height: 800px;
	padding: 10px;
	margin: 0;	
	border: 10px solid black;
}

.divs {
	width: 400px;
	height: 400px;
	margin: 0 auto;
	border: none; 
	background-color: #004657;
	display: inline-block;
}
