#nameHeadline {
	margin: 25px auto;
}

.wrapper {
	width: 800px;
	height: 800px;
	padding: 10px;
	margin: 0;	
	border: 10px solid black;
}

.container {
	border-style: solid;
    	border-color: #5d0296;
    	border-width: thin;
    	display: table;
    	margin: 0 auto;
    	padding: 0;
    	width: 790px;
	height: 790px;
}
